@page "{id:int?}"
@inject IRomFileManager RomFileManager
@model RetroPieRomUploader.Pages.Roms.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rom</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rom.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rom.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rom.ConsoleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rom.ConsoleType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rom.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rom.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rom.FileEntries)
        </dt>
        <dd class="col-sm-10">
            <table class="table table-borderless">
                @foreach (var file in Model.Rom.FileEntries)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(model => file)
                        @if (Model.FileSizes.TryGetValue(file, out long bytes))
                        {
                            <span class="details-filesize">(@string.Format("{0:0.##} MB", ((float)bytes / 1000000)))</span>
                        }
                        else
                        {
                            <span class="text-danger">(file missing on disk)</span>
                        }
                    </td>
                </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rom.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
