@page
@model RetroPieRomUploader.Pages.Roms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Roms</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <label>Filter by Console: </label>
    <select asp-for="ConsoleFilter" asp-items="Model.ConsoleList">
        <option value="">All</option>
    </select>
    <input type="submit" value="Go"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RomDetails[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RomDetails[0].ConsoleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RomDetails[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RomDetails[0].FileEntries)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RomDetails) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsoleType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <table class="table table-borderless">
                @foreach (var file in item.FileEntries)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => file)</td>
                    </tr>
                }
                </table>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
